{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <li>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </li>
        </div>
        <div>
            {% if project_list|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in project_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' pk=x.id %}">{{ x.name }}</a>
                                </td>
                                <td>{{ x.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content%}